* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Outfit", sans-serif;
}

body {
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main {
	background-color: white;
	width: 300px;
	border-radius: 30px;
	padding: 16px;
}

.qrcode-img {
	border-radius: 25px;
	width: 100%;
	margin-bottom: 20px;
}

.main-title {
	font-size: 22px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
}

.main-text {
	font-size: 15px;
	text-align: center;
	color: hsl(220, 15%, 55%);
	margin: 0 12px;
	margin-bottom: 20px;
}
@media (max-width: 600px) {
	.main {
		width: 80vw;
		padding: 20px;
		margin: 40px;
	}

	.qrcode-img {
		margin-bottom: 25px;
	}

	.main-title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.main-text {
		font-size: 16px;
		margin-bottom: 20px;
	}
}
